<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      padding: 50px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    a {
      color: #00B7FF;
    }
  </style>
  <title><%= title %></title>
</head>

<body>
  <center><h1><%= title %></h1></center>
  <br><br>
  <p>Welcome to <%= nama %></p>
  <p>Semua telah di rencakan agar skenario berjalan dengan sempurna
  <p>asep adalah sebuah penakluk dunia yang sangat kejam dan tiada ampun</p>
  <p>oleh karena itu siapapun yang bertemu dengannya</p>
  <p>harap lari jangan berhadapan langsung.
  </p>
  <h1><%= nama %> , <%= gelar %>, <%= saudara %></h1>
</body>

</html>